/* Header Component Styles */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #d75a5a73;
}

.header__logo {
    object-fit: contain;
    height: 40px;
}

.header__icon {
    object-fit: contain;
    height: 40px;
}
/* *************************************** */